@charset "utf-8";
/*公共样式*/
body,
h3,
h1,
dl,
dd,
ul,
span,
li,
p,
hr{ margin: 0;}

ul{
	padding: 0;
}
body{
	font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","PingFang SC","Arial","Microsoft YaHei",sans-serif;
	font-size: 12px;
}
a{
	text-decoration: none;
	list-style: none;
	color: #000;
}
.container{
	width: 1000px;
	margin: 0 auto;
}
/*header样式*/

.logo{
	background: linear-gradient(#323236,#0f1012);
}

.logo h1{
	background: url(../images/1_05.png),url(../images/1_02.gif);
	height: 108px;
	background-position: 0 20px, 0 0;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

.nav{
	position: relative; 
	height: 30px;
	border: 1px solid #2d2e2f;
	background: linear-gradient(#1e1d1e,#000);
	background: ;
}

.nav ul{
	position: absolute;
	width: 930px;
    height: 48px;
    margin-left: -480px;
    top: -6px;
    padding-left: 30px;
    left: 50%;
	border: 1px solid #2d2e2f;
	border-radius: 8px;
	background: linear-gradient(#1e1d1e,#000);
	-webkit-box-shadow: #2d2e2f 0px 2px 8px;
    -moz-box-shadow: #2d2e2f 0px 2px 8px;
     box-shadow: #2d2e2f 0px 2px 8px;
}

.nav li{
	float: left;
	width: 110px;
	line-height: 48px;
	text-align: center;
}

.nav a{color: #fff;}

.nav a:hover {color: #f00;}

.banner{
	height: 400px;
	background: #fff;}

.bannerLeft{
	width: 600px;
	float: left;
	color: #000;
	background: #;
	height: 320px;
}

.bannerLeft ul{
	margin-left: 20px;
	width: 600px;
	margin-top: 80px;
}

.bannerLeft li{
	height: 112px;
	margin-top: 20px;
	padding-left: 180px;
	list-style: none;
	background-image: url(../images/2_03.gif);
	background-repeat: no-repeat;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}

.bannerLeft dd{
	font-weight: bold;
	padding-top: 10px;
	font-size: 14px;
	margin-bottom: 30px;
}

.bannerRinght{
	margin-right: 20px;
	padding-top: 50px;
	float: right;
	width: 200px;
}

.bannerRinght li{
	list-style: none;
}
.bannerRinght dl{
	margin-bottom: 30px;
}

.bannerRinght dt{
	height: 30px;
	background: #666;
	line-height: 30px;
	color: #fff;
	padding-left: 20px;
}

.bannerRinght dd{
	padding-top: 10px;
	height: 80px;
	background: #ccc;
	padding-left: 30px;
}

.bannerRinght dd p{

	padding-bottom: 15px;
	margin-right: 10px;
}

.bannerRinght .bannerRinght1 dl dd{
    height: 100px;
}

.bannerRinght .bannerRinght1 p{
	background-image: url(../images/2_07.png);
	height: 7px;
	background-repeat: no-repeat;
	padding-left: 10px;
	float: left;
	margin-top: 10px;
	line-height: 7px;
}

.copyright{
	background: #484742;
	height: 400px;

}

.copyright1 ul{
	text-align: center;
	border-bottom: 2px solid #ccc;
	padding-bottom: 50px;
	width: 900px;
	margin: 0 auto;
}
.copyright1 li{
	margin-top: 40px;
	margin-right: 50px;
    list-style: none;
    display: inline-block;  
}


.fiteinfo ul{
	margin-top: 10px;
	color: #fff;
	text-align: center;
	
}

.fiteinfo li{
    display: inline-block;
	margin-right: 50px;
	list-style: none;
}


.fiteinfo dt{
	font-size: 14px;
	font-weight: bold;
}



.siteinfoLegal{
	text-align: center;
	color: #fff;
	margin-top: 50px;
}

.siteinfoLegal li{

	display: inline-block;
	width: 780px;
}